.card {
  max-width: 300px;
  width: 100%;
  background: #fff;
  border-radius: 20px;
  padding: 16px;
  display: flex;
  align-items: center;
  position: relative;
  gap: 12px;
}

.logo {
  width: 36px;
  height: 36px;
}

.name {
  font-weight: bold;
  font-size: 16px;
  flex: 1;
}

.moreIcon {
  color: #333;
}
